<form action="/" method="post">
  Title:<br>
  <input type="text" name="title">
  <br>
  Director:<br>
  <input type="text" name="director">
  <br>
  Genre:<br>
  <input type="text" name="genre">
  <br>
  Year: <br>
  <input type="number" name="year">
  <br>
  <input type="submit">
</form>
